In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
%cd ..

c:\Users\Zbook G3\NYC-Taxi-Demand-Prediction-1

In [3]:
from src.data import load_raw_data

rides = load_raw_data(year=2022)
rides

Downloading file 2022-01
2022-01 file is not available
Downloading file 2022-02

In [ ]:
from src.data import transform_raw_data_into_ts_data

ts_data = transform_raw_data_into_ts_data(rides)
ts_data

100%|██████████| 262/262 [00:28<00:00,  9.21it/s]

                pickup_hour  rides  pickup_location_id
0       2022-01-01 00:00:00     11                   4
1       2022-01-01 01:00:00     15                   4
2       2022-01-01 02:00:00     26                   4
3       2022-01-01 03:00:00      8                   4
4       2022-01-01 04:00:00      9                   4
...                     ...    ...                 ...
1911547 2022-10-31 19:00:00      0                 199
1911548 2022-10-31 20:00:00      0                 199
1911549 2022-10-31 21:00:00      0                 199
1911550 2022-10-31 22:00:00      0                 199
1911551 2022-10-31 23:00:00      0                 199

[1911552 rows x 3 columns]

In [ ]:
from src.data import transform_ts_data_into_features_and_target

features, targets = transform_ts_data_into_features_and_target(
    ts_data,
    input_seq_len=24*28*1, # one month
    step_size=24,
)

print(f'{features.shape=}')
print(f'{targets.shape=}')

100%|██████████| 262/262 [02:36<00:00,  1.68it/s]

features.shape=(72312, 674)
targets.shape=(72312,)

In [ ]:
tabular_data = features
tabular_data['target_rides_next_hour'] = targets

from src.paths import TRANSFORMED_DATA_DIR
tabular_data.to_parquet(TRANSFORMED_DATA_DIR / 'tabular_data.parquet')